{% extends 'base.html' %}
  {% block title %}All Courses | Ludus {% endblock %}
  {% block content %}
    <table class="table table-striped table-hover">
      <tr>
	<th>Course Name</th>
	<th>Faculty Name</th>
      </tr>
      {% for course in courses %}
        <tr>
	  <td>
	    {% url courses.views.schedule course_id=course.id as schedule_url%}
	    <a href="{{ schedule_url }}">{{ course.name }}</a>
	  </td>
	  <td>
	    {% for faculty in course.faculties.all %}
		{{ faculty}}, 
	    {% endfor %}
	  </td>
	</tr>
      {% endfor %}
    </table>
  {% endblock %}
